#major_selection
    %h3 Major
    .field
        %h4 School of Science
        - @ssc.each do |major|
            = check_box_tag "major_ids[]", major.id, false, id:"major_ids_#{major.id}"
            = label_tag "major_ids[#{major.id}]", major.code
            
        %h4 School of Engineering
        - @seng.each do |major|
            = check_box_tag "major_ids[]", major.id, false, id:"major_ids_#{major.id}"
            = label_tag "major_ids[#{major.id}]", major.code
            
        %h4 School of Business
        - @sbm.each do |major|
            = check_box_tag "major_ids[]", major.id, false, id:"major_ids_#{major.id}"
            = label_tag "major_ids[#{major.id}]", major.code
            
        %h4 School of Humanities and Social Science
        - @huma.each do |major|
            = check_box_tag "major_ids[]", major.id, false, id:"major_ids_#{major.id}"
            = label_tag "major_ids[#{major.id}]", major.code
            
        %h4 Interdisciplinary Programs Office
        - @ipo.each do |major|
            = check_box_tag "major_ids[]", major.id, false, id:"major_ids_#{major.id}"
            = label_tag "major_ids[#{major.id}]", major.code
            