#major_selection
    %h3 Major
    .field
        %h4 School of Science
        - @ssc.each do |major|
            = render partial: 'major_check_box', locals: {shouldCheck: @ticked_majors.include?(major), major: major}
            
        %h4 School of Engineering
        - @seng.each do |major|
            = render partial: 'major_check_box', locals: {shouldCheck: @ticked_majors.include?(major), major: major}

        %h4 School of Business
        - @sbm.each do |major|
            = render partial: 'major_check_box', locals: {shouldCheck: @ticked_majors.include?(major), major: major}

        %h4 School of Humanities and Social Science
        - @huma.each do |major|
            = render partial: 'major_check_box', locals: {shouldCheck: @ticked_majors.include?(major), major: major}

        %h4 Interdisciplinary Programs Office
        - @ipo.each do |major|
            = render partial: 'major_check_box', locals: {shouldCheck: @ticked_majors.include?(major), major: major}
