%h2
  Edit #{resource_name.to_s.humanize}
= form_for(current_user, url: update_user_path(current_user), html: { method: :put }) do |f|
  = devise_error_messages!
  
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, disabled:true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}  
  .field
    = f.label :entrance_year
    %br/
    = f.date_select :entrance_year, {start_year:2000, discard_day: true, use_short_month: true, default: {month: 9}}
  .field
    = f.label :graduation_year
    %br/
    = f.date_select :graduation_year, {start_year:2000, discard_day: true, use_short_month: true, default: {month: 5}}
  
  - if @status == "alumni"
    = link_to "Connect LinkedIn",  user_omniauth_authorize_path(provider: "linkedin")    
    .field 
      = f.label :location
      %br/
      = f.text_field :location
    .field 
      = f.label :position
      %br/
      = f.text_field :position
    .field  
      = f.label :organization
      %br/
      = f.text_field :organization
    = render partial: 'industry_selection', locals:{is_interested_industry:false, ticked: @ticked_experienced_industries}	      
  
  = render 'major_selection'
  = render partial: 'industry_selection', locals:{is_interested_industry:true, ticked: @ticked_interested_industries}
        
  .actions
    = f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
