%h2 Sign up please
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "off"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autocomplete: "off", disabled:true
  .field
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :entrance_year
    %br/
    = f.date_select :entrance_year, {start_year:2000, discard_day: true, use_short_month: true, default: {month: 9}}
  .field
    = f.label :graduation_year
    %br/
    = f.date_select :graduation_year, {start_year:2000, discard_day: true, use_short_month: true, default: {month: 9}}
  .actions
    = f.submit "Sign up", id: "user_sign_up_submit"
= render "devise/shared/links"
