.alumnus{id: ("me" if alumnus == current_user)}
  .columns.large-2.small-2.alumnus_date
    ="#{alumnus.entrance_year.strftime("%b %Y")}"
    %br
    ="- #{alumnus.graduation_year.strftime("%b %Y")}"
  .columns.large-offset-1.small-offset-1.large-9.small-9.alumnus_description
    %h2.name= alumnus.name
    -unless alumnus.majors_text.empty?
      %p
        %span.icon= fa_icon "book"
        =alumnus.majors_text
    %p
      -if alumnus.position?
        %span.icon= fa_icon "user"
        =alumnus.position
      -if alumnus.organization?
        %span.icon= fa_icon "users"
        =alumnus.organization
      -if alumnus.location?
        =fa_icon "location-arrow", class: "icon fa-lg"
        =alumnus.location
      -if alumnus.location.nil? && alumnus.organization.nil?
        %br
    .row
      %p.columns.large-10
        -unless alumnus.experienced_industries_text.empty?
          %span.icon= fa_icon "industry"
          =alumnus.experienced_industries_text
      %p.columns.large-2
        - unless alumnus.email.nil?
          %span{id: ("my_inbox" if alumnus == current_user)}
            = mail_to alumnus.email do
              %span{:"title"=>"Send an email to this person"}
                = fa_icon "inbox", class: "fa-2x float-right icon-big"
        - unless alumnus.linkedin_url.nil?
          %span{:title=>"See Linkedin profile"}
            = link_to alumnus.linkedin_url do
              = fa_icon "linkedin-square", class: "fa-2x float-right icon-big"

%hr.divider
