<div id="menu_container">
	<div id="menu_header">
		<h1 id = "logo">ALUMNI</div>
		<% if user_signed_in? %>
			<p>Hi, <%= current_user.name %>! </p>
			<p><%=link_to "Invite", '#' %> your friends</p>
			<p><%=link_to "Update", '#' %> your interests</p>
		<% else %>
			<%=link_to "Login", new_user_session_path %>
		<% end %>
	</div>
	
	<div id="toggle_box">
		<h2>Area</h2>
		<select></select>
		<h2>Order</h2>
		<select></select>

	</div>
	
	<div id="menu_footer">
		<% if user_signed_in? %>
			<%=link_to "Logout", destroy_user_session_path, method: :delete  %>
		<% end %>
	</div>
</div>