%nav.top-bar{'data-topbar' => true, "role"=>"navigation"}
  %ul.title-area
    %li.name
      #loading_spinner
        = fa_icon "spinner", class: "fa-lg fa fa-spinner fa-pulse icon-big"
        
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li= link_to "Hi, #{current_user.name}!", '#'
        %li
          = link_to root_path do
            =fa_icon "home", class: "nav-icon fa-lg"
        %li{:title=>"Find people"}
          = link_to users_path do
            =fa_icon "user", class: "nav-icon fa-lg"
        %li{:title=>"Invite people"}
          =link_to new_user_invitation_path(current_user) do
            =fa_icon "plus", class: "nav-icon fa-lg"
        %li{:title=>"Edit your info"}
          =link_to edit_registration_path(current_user) do
            =fa_icon "gear", class: "nav-icon fa-lg"
        %li{:title=>"Log out"}
          =link_to destroy_user_session_path, method: :delete do
            =fa_icon "sign-out", class: "nav-icon fa-lg"
      - else
        %li= link_to "Login", new_user_session_path
