<!DOCTYPE html>
<html>
<head>
  <title>UstKsaAlumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id = "container">
  <div id = "content"><%= yield %></div>
  <div id = "menu"><%= render "layouts/menu" %></div>
</div>

</div>

</body>
</html>
